@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: #383838;
    font-family: 'Titillium Web', sans-serif;
}

html{
    font-size: 62.5%;
}

li,a{
    font-weight: 400;
    font-size: 2.5rem;
    color: #B6B6B6;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
    border-bottom: 1px solid #5C5C5C;
}

.logo{
    cursor: pointer;
}

.nv_links{
    list-style: none;
}

.nv_links li{
    
    display: inline-block;
    padding: 0rem 3rem;
    align-items: center;
}

.nv_links li a {
    transition: all 0.3s ease 0s;
}

.nv_links li a:hover {
    color: #7DCAB8;
}

.search{
    background: none;
    padding: 1.5rem;
    transform: translate(0%, 15%);
    background-image: url("../img/search.svg");
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.search:hover{
    background-image: url("../img/blue_search.svg");
    height: 2rem;
    width: 2rem;
}

.logo{
    background: none;
    transform: translate(0%,15%);
    width: 16rem;
}

h2{
    position: absolute;
    width: 600px;
    height:400px;
    top: 50%;
    left: 50%;
    transform: translate(-55%,-45%);
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #CACACA;
}

h2{
    padding: 0rem 5rem;
    background: #383838;
    box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.52);
    border-radius: 21px;
}

h1{
    position: absolute;
    background:none;
    width: 906.87px;
    height: 306px;
    top: 3%;
    left: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 170px;
    line-height: 305px;
    display: flex;
    align-items: center;
    text-align: center;
    
} 

h1 {
    background: -webkit-linear-gradient(#262626b6, #38383879);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
  }